.contenedor {
    position: relative;
    display: inline-block;
    padding-left: 12rem;
}

#disco {
    display: block;
    width: 10rem;
    transition: all 1s ease-out;
}

.contenedor:hover #disco {
    padding-left: 5rem;
}

#album {
    position: absolute;
    width: 11rem;
}