.carusel {
  margin: 100px auto;
  width: 90%;
  border: 5px solid none;
  display: flex;
  overflow-x: auto;
  gap: 1em;
}

.carusel::-webkit-scrollbar{
  display: none;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 10s infinite linear;
}

.card{
  background: cornflowerblue;
  flex: 0 0 5em;
  height: 5em;
padding: 1em;
font-size: 3rem;
border-radius: .2em;
text-align: center;
align-content: center;
}


@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
  
}